<div class="container">
    <mat-toolbar color="primary" class="app-header relativePos">
        <span>UniGraph</span>
        <span class="example-spacer"></span>
        <span class="spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
    <div id="content">
      <div id="header">
        <h1>Egyetem: {{uniN}}</h1><br>
        <h2>Kar: {{facultyN}}</h2><br>
        <h3>Szak: {{majorN}}</h3><br>
      </div>
      <div id="temps">
        <mat-card class="card" *ngFor="let temp of showTemplates;let i = index">
            <img src="../../assets/university_icon.png" alt="A kép nem elérhető!">
                <mat-card-title>{{temp.Name + " " + temp.User}}</mat-card-title>
                <mat-card-actions>
                  <a mat-button [routerLink]="'/view/'+temp.ID">Megtekintés</a>
                    <a mat-button [routerLink]="'/edit/'+temp.ID">Szerkesztés</a>
                    <a mat-button *ngIf="!checkIfSaved(temp.ID)"><mat-icon>grade</mat-icon></a>
                    <a mat-button *ngIf="checkIfSaved(temp.ID)"><mat-icon>star</mat-icon></a>
                </mat-card-actions>
        </mat-card>
      </div>
    </div>
</div>
<div id="auth" *ngIf="showAuth">
  <div id="login">
    <img (click)="showAuth = false; enableScroll()" src="../assets/btn_close.png" alt="(X)">
    <form action="javascript:void(0)">
      <input autocapitalize="off" autocomplete="off" [(ngModel)]="template.templateName" placeholder="Név" type="text" name="userName" id="userName"><br>
      <mat-slide-toggle [(ngModel)]="isPublic" [ngModelOptions]="{standalone: true}">Nyilvános</mat-slide-toggle>
      <input mat-button class="btn-blue" type="submit" (click)="submit()" value="Létrehozás">
      <hr>
      <p>{{msg}}</p>
    </form>
  </div>
</div>
