<div class="container">
    <mat-toolbar color="primary" class="app-header relativePos">
        <span>UniGraph</span>
        <span class="example-spacer"></span>
        <span class="spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
    <div id="content">
        <h1>Egyetem: {{uniN}}</h1><br>
        <h2>Kar: {{facultyN}}</h2><br>
        <h3>Szak: {{majorN}}</h3><br>
        <table>
          <tr>
            <td colspan="2">
              <button (click)="showAuth = true; disableScroll()" mat-button>Sablon létrehozás</button>
            </td>
          </tr>
          </table>
        <h3>Elérhető sablonok:</h3>
        <div id="temps">
          <mat-card class="card" *ngFor="let item of templates">
              <img src="../../assets/university_icon.png" alt="A kép nem elérhető!">
                  <mat-card-title>{{item.majorName}}</mat-card-title>
                  <mat-card-actions>
<!--                      <a mat-button [routerLink]="item.universityName+'/'+item.universityID+'/'+item.facultyName+'/'+item.facultyID+'/'+item.majorName+'/'+item.majorID">Tovább</a>-->
                    <a mat-button *ngIf="!checkIfSaved(item)"><mat-icon>grade</mat-icon></a>
                    <a mat-button *ngIf="checkIfSaved(item)"><mat-icon>star</mat-icon></a>
                    <a mat-button (click)="pls()">Tovab</a>
                  </mat-card-actions>
          </mat-card>
        </div>
      </div>
</div>
<div id="auth" *ngIf="showAuth">
  <div id="login">
    <img (click)="showAuth = false; enableScroll()" src="../assets/btn_close.png" alt="(X)">
    <form action="javascript:void(0)">
      <input autocapitalize="off" autocomplete="off" [(ngModel)]="template.templateName" placeholder="Név" type="text" name="userName" id="userName"><br>
      <mat-slide-toggle [(ngModel)]="isPublic" [ngModelOptions]="{standalone: true}">Nyilvános</mat-slide-toggle>
      <input mat-button class="btn-blue" type="submit" (click)="submit()" value="Létrehozás">
      <hr>
      <p>{{msg}}</p>
    </form>
  </div>
</div>
