<div class="container">
    <div id="nav" class="w100">
        <div>
            <img src="../../assets/user_icon.png" alt="User Icon">
            <ul>
                <li><a href="">link 1</a></li>
                <li><a href="">link 2</a></li>
                <li><a (click)="logout()" href="">Kilépés</a></li>
            </ul>
        </div>
    </div>
    <div id="search">
        <input autocapitalize="off" [(ngModel)]="searchValue" (keyup)="search()" autocomplete="off" placeholder="Egyetem, Kar, Szak..." type="text" name="seachValue" id="seachValue">
        <img src="../../assets/search_simple.png" alt="(Q)">
    </div>
    <div id="result">
        <div class="card" *ngFor="let item of items">
            <div *ngIf="item.hasOwnProperty('majorName'); else Faculty">
                <div class="major">
                    <span><a [routerLink]="[item.universityName, item.facultyName, item.majorName]">{{ item.universityName + ": " + item.majorName }}</a></span>
                </div>
            </div>
            <ng-template  #University>
                    <div class="university">
                        <span>{{ item.universityName }}</span>
                    </div>
            </ng-template>
            <ng-template #Faculty>
                <div *ngIf="item.hasOwnProperty('facultyName'); else University">
                    <div class="faculty">
                        <span>{{ item.universityName + ": " + item.facultyName }}</span>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
