div.container{
    background: #EDEDF4;
    width: 100vw;
    height: 100vh;
}

.w30{
    width: 30%;
}

.w40{
    width: 40%;
}

.w50{
    width: 50%;
}

.w100{
    width: 100%;
}

.h20{
    height: 20%;
}

.h40{
    height: 40%;
}

.h60{
    height: 60%;
}

.h80{
    height: 80%;
}

.h100{
    height: 100%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.btn{
    background-color: #58BC82;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 2px 3px 3px #000;
    z-index: 2;
}

.btn:hover{
    background-color: #469b6a;
    box-shadow: 1px 1px 3px #000;
    cursor: pointer;
}

.btn-blue{
    background-color: rgb(15, 193, 199);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 2px 3px 3px #000;
    z-index: 2;
}

.btn-blue:hover{
    background: rgb(13, 175, 180);
    box-shadow: 1px 1px 3px #000;
    cursor: pointer;
}

#logo{
    background: #EDEDF4;
    text-align: center;
    right: 10px;
}

#logo img{
    height: 90%;
    width: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%);
}

#login-menu img{
    width: 100px;
    height: 100px;
    position: relative;
    top: 0;
    right: 10px;
    background: #EDEDF4;
}

#login-menu img:hover ~ ul{
    display: block;
}

#login-menu ul{
    display: none;

}

#dyn-text{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}

#dyn-text li{
    list-style: none;
    color: #6A687A;
    font-size: 60px;
    font-weight: 500;
    top: 0;
    position: relative;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100%{
        top: -360px;
    }
}

#dyn-text li::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EDEDF4;
    border-left: 3px solid #242424;
    animation: typing 3s steps(13) infinite;
}

@keyframes typing {
    40%,
    60%{
        left: calc(100%);
    }
    100%{
        left: 0;
    }
}

#upper{
    background: #3E4C5E;
    text-align: center;
    box-shadow: 0 -5px 7px black;
    border-radius: 13px 13px 0 0;
}

#upper a{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

#upper p{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    margin: 3% 3%;
    color: white;
    text-align: justify;
    z-index: 1;
}

#text2{
    display: none;
}

#upper_background1{
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: hover1 3s steps(13) infinite;
}
#upper_background2{
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: hover2 3s steps(13) infinite;
}

@keyframes hover1 {
    0%{
        top: 50%;
    }
    50%{
        top: 48%;
    }
    100%{
        top: 50%;
    }
}

@keyframes hover2 {
    0%{
        top: 50%;
    }
    50%{
        top: 52%;
    }
    100%{
        top: 50%;
    }
}

#lower{
    text-align: center;
}

#lower a{
    position: relative;
    top: 0;
    left: 0;
    transform: translate(-50%, 0);
}

#lower p{
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    text-align: justify;
    padding: 2%;
    border: 3px solid black;
    border-radius: 25px;
}

#footer{
    /* background: #3a78a1; */
    background: #4b5b70;
}

#auth{
    position: fixed;
    top: calc(50% - 1px);
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    background: rgba(27, 27, 27, 0.678);
    z-index: 5;
    overflow: hidden;
}

#auth div{
    width: 30%;
    height: 40%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(226, 234, 235);
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    padding: 2%;
}

#auth div form{
    width: 100%;
    height: 85%;
    text-align: center;
}

#auth img{
    width: 40px;
    height: 40px;
    position: relative;
    top: -20px;
    right: -20px;
    float: right;
}

#auth img:hover{
    background: rgba(230, 41, 16, 0.733);
    border-radius: 50%;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(143, 143, 143);
    border-radius: 10px;
}

input[type=text]:focus, input[type=password]:focus{
    background: rgb(187, 214, 223);
}

#auth hr{
    position: relative;
    top: 0;
}

#auth p{
    float: left;
    margin: 1% 1%;
}

#auth p a{
    text-decoration: none;
    color: rgb(15, 193, 199);
}

#auth p a:hover{
    text-decoration: underline;
    color: rgb(13, 163, 168);
}

#register{
    height: 50%!important;
}

#register p{
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#forgot_password{
    height: 30%!important;
}

#forgot_password p{
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#upper a{
  display: none;
}
#lower{
  display: none;
}
#footer{
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 359px){
    #dyn-text li{
        font-size: 45px;
    }
    #dyn-text{
        width: 50%;
    }
    #logo{
        height: 30vh;
        width: 100vw;
        position: relative;
        transform: translate(10%, 0);
        margin: 0 0 4% 0;
    }
    #visual{
        display: none;
    }
    #temp-text{
        width: 100vw;
    }
    #text1{
        display: none;
    }
    #text2{
        display: block;
    }
    #temp-div1{
        display: none;
    }
    #temp-div2{
        display: none;
    }
    #upper{
        height: 70vh;
        text-align: center;
    }
    #upper a{
        display: none;
    }
    #upper p{
        position: relative;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        margin: 0 10% 0 0;
    }
    #upper button{
        position: relative;
        top: 10%
    }
    #lower{
        display: none;
    }
    #footer{
        display: none;
    }
    #login{
        width: 100%!important;
        height: 60%!important;
    }
    #login form{
        height: 80%!important;
    }
    .btn-blue{
        margin-top: 5%;
    }
    #auth img{
        width: 40px;
        height: 40px;
        position: relative;
        top: 0px;
        right: 0px;
        float: right;
    }
    #register{
        width: 100%!important;
        height: 70%!important;
    }
    #register form{
        height: 80%!important;
    }
    #forgot_password{
        width: 100%!important;
        height: 45%!important;
    }
    #forgot_password form{
        height: 80%!important;
    }
}
@media only screen and (min-width: 360px) and (max-width: 479px){
    #dyn-text li{
        font-size: 45px;
    }
    #dyn-text{
        width: 50%;
    }
    #logo{
        height: 30vh;
        width: 100vw;
        position: relative;
        top:0;
        left:0;
        transform: translate(18%, 0);
        margin: 0 0 4% 0;
    }
    #visual{
        display: none;
    }
    #temp-text{
        width: 100vw;
    }
    #text1{
        display: none;
    }
    #text2{
        display: block;
    }
    #temp-div1{
        display: none;
    }
    #temp-div2{
        display: none;
    }
    #upper{
        height: 70vh;
        text-align: center;
    }
    #upper a{
        display: none;
    }
    #upper p{
        position: relative;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        margin: 0 10% 0 0;
    }
    #upper button{
        position: relative;
        top: 25%
    }
    #lower{
        display: none;
    }
    #footer{
        display: none;
    }
    #login{
        width: 100%!important;
        height: 44%!important;
    }
    #login form{
        height: 80%!important;
    }
    .btn-blue{
        margin-top: 5%;
    }
    #auth img{
        width: 40px;
        height: 40px;
        position: relative;
        top: 0px;
        right: 0px;
        float: right;
    }
    #register{
        width: 100%!important;
        height: 54%!important;
    }
    #register form{
        height: 80%!important;
    }
    #forgot_password{
        width: 100%!important;
        height: 34%!important;
    }
    #forgot_password form{
        height: 80%!important;
    }
}
@media only screen and (min-width: 480px) and (max-width: 959px){
    #dyn-text li{
        font-size: 45px;
    }
    #dyn-text{
        width: 40%;
    }
    #logo{
        height: 25vh;
        width: 100vw;
        margin: 2% 0 0 0;
        position: relative;
        top:0;
        left:0;
        transform: translate(-7%, 0);
    }
    #visual{
        height: 15vh;
        width: 100vw;
    }
    #temp-text{
        width: 100vw;
    }
    #temp-div1{
        display: none;
    }
    #temp-div2{
        display: none;
    }
    #upper{
        height: 60vh;
        text-align: center;
    }
    #upper a{
        display: none;
    }
    #upper p{
        position: relative;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        margin: 0 10% 0 0;
    }
    #upper button{
        position: relative;
        top: 25%
    }
    #lower{
        display: none;
    }
    #footer{
        display: none;
    }
    #login{
        width: 80%!important;
        height: 40%!important;
    }
    #login form{
        height: 80%!important;
    }
    .btn-blue{
        margin-top: 5%;
    }
    #auth img{
        width: 40px;
        height: 40px;
        position: relative;
        top: -7px;
        right: -7px;
        float: right;
    }
    #register{
        width: 80%!important;
        height: 50%!important;
    }
    #register form{
        height: 80%!important;
    }
    #forgot_password{
        width: 80%!important;
        height: 30%!important;
    }
    #forgot_password form{
        height: 80%!important;
    }
}
@media only screen and (min-width: 960px) and (max-width: 1023px){
    #dyn-text li{
        font-size: 42px;
    }
    #dyn-text{
        width: 45%;
    }
    #logo{
        height: 30vh;
    }
    #visual{
        height: 30vh;
    }
    #temp-text{
        width: 60vw;
    }
    #temp-div1{
        display: none;
    }
    #temp-div2{
        width: 40vw;
    }
    #upper{
        height: 70vh;
    }
    #upper a{
        display: none;
    }
    #upper p{
        position: relative;
        top: 37%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #upper button{
        position: relative;
        top: -5%
    }
    #lower{
        display: none;
    }
    #footer{
        display: none;
    }
    .btn-blue{
        margin-top: 5%;
    }
    #auth img{
        width: 40px;
        height: 40px;
        position: relative;
        top: 0px;
        right: 0px;
        float: right;
    }
    #login{
        width: 45%!important;
        height: 65%!important;
    }
    #login form{
        height: 80%!important;
    }
    #register{
        width: 45%!important;
        height: 80%!important;
    }
    #register form{
        height: 80%!important;
    }
    #forgot_password{
        width: 45%!important;
        height: 55%!important;
    }
    #forgot_password form{
        height: 80%!important;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1279px){
    #dyn-text li{
        font-size: 45px;
    }
    #dyn-text{
        width: 45%;
    }
    #logo{
        height: 30vh;
        width: 50vw;
    }
    #visual{
        height: 30vh;
    }
    #temp-text{
        width: 50vw;
    }
    #temp-div1{
        display: none;
    }
    #temp-div2{
        width: 50vw;
    }
    #upper{
        height: 70vh;
    }
    #upper a{
        display: none;
    }
    #upper p{
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #upper button{
        position: relative;
        top: 25%
    }
    #lower{
        display: none;
    }
    #footer{
        display: none;
    }
    .btn-blue{
        margin-top: 3%;
    }
    #auth img{
        width: 40px;
        height: 40px;
        position: relative;
        top: -10px;
        right: -10px;
        float: right;
    }
    #login{
        width: 45%!important;
        height: 47%!important;
    }
    #login form{
        height: 80%!important;
    }
    #register{
        width: 45%!important;
        height: 55%!important;
    }
    #register form{
        height: 80%!important;
    }
    #forgot_password{
        width: 45%!important;
        height: 36%!important;
    }
    #forgot_password form{
        height: 80%!important;
    }
}
@media only screen and (min-width: 1280px) and (max-width: 1365px){
    #dyn-text li{
        font-size: 50px;
    }
    #logo{
        height: 30vh;
    }
    #visual{
        height: 30vh;
    }
    #upper{
        height: 70vh;
    }
    #upper button{
        position: relative;
        top: 17%
    }
    .btn-blue{
        margin-top: 3%;
    }
    #auth img{
        width: 40px;
        height: 40px;
        position: relative;
        top: -10px;
        right: -10px;
        float: right;
    }
    #login{
        width: 40%!important;
        height: 50%!important;
    }
    #login form{
        height: 80%!important;
    }
    #register{
        width: 40%!important;
        height: 60%!important;
    }
    #register form{
        height: 80%!important;
    }
    #forgot_password{
        width: 40%!important;
        height: 40%!important;
    }
    #forgot_password form{
        height: 80%!important;
    }
}
@media only screen and (min-width: 1366px) and (max-width: 1535px){
    #dyn-text li{
        font-size: 50px;
    }
    #logo{
        height: 30vh;
    }
    #visual{
        height: 30vh;
    }
    #upper{
        height: 70vh;
    }
    #upper button{
        position: relative;
        top: 24%
    }
    .btn-blue{
        margin-top: 3%;
    }
    #auth img{
        width: 40px;
        height: 40px;
        position: relative;
        top: -20px;
        right: -20px;
        float: right;
    }
    #login{
        width: 40%!important;
        height: 45%!important;
    }
    #login form{
        height: 80%!important;
    }
    #register{
        width: 40%!important;
        height: 50%!important;
    }
    #register form{
        height: 80%!important;
    }
    #forgot_password{
        width: 40%!important;
        height: 36%!important;
    }
    #forgot_password form{
        height: 80%!important;
    }
}
@media only screen and (min-width: 1536px) and (max-width: 1679px){
    #dyn-text li{
        font-size:50px;
    }
    #dyn-text{
        width: 35%;
    }
    #upper p{
        position: relative;
        top: 32%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #upper button{
        position: relative;
        top: 15%;
    }
    .btn-blue{
        margin-top: 3%;
    }
    #auth img{
        width: 40px;
        height: 40px;
        position: relative;
        top: -20px;
        right: -20px;
        float: right;
    }
    #login{
        width: 35%!important;
        height: 50%!important;
    }
    #login form{
        height: 80%!important;
    }
    #register{
        width: 35%!important;
        height: 60%!important;
    }
    #register form{
        height: 80%!important;
    }
    #forgot_password{
        width: 35%!important;
        height: 40%!important;
    }
    #forgot_password form{
        height: 80%!important;
    }
}
@media only screen and (min-width: 1680px) and (max-width: 1919px){
    #dyn-text li{
        font-size: 65px;
    }
    #upper p{
        position: relative;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #upper button{
        position: relative;
        top: 30%;
    }
    #dyn-text{
        width: 38%;
    }
    .btn-blue{
        margin-top: 3%;
    }
    #auth img{
        width: 40px;
        height: 40px;
        position: relative;
        top: -20px;
        right: -20px;
        float: right;
    }
    #login{
        width: 30%!important;
        height: 40%!important;
    }
    #login form{
        height: 80%!important;
    }
    #register{
        width: 30%!important;
        height: 50%!important;
    }
    #register form{
        height: 80%!important;
    }
    #forgot_password{
        width: 30%!important;
        height: 33%!important;
    }
    #forgot_password form{
        height: 80%!important;
    }
}

@media only screen and (min-width: 1920px){
    #dyn-text li{
        font-size: 70px;
    }
    #upper p{
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #upper button{
        position: relative;
        top: 30%;
    }
    #dyn-text{
        width: 38%;
    }
    .btn-blue{
        margin-top: 3%;
    }
    #auth img{
        width: 40px;
        height: 40px;
        position: relative;
        top: -20px;
        right: -20px;
        float: right;
    }
    #login{
        width: 30%!important;
        height: 42%!important;
    }
    #login form{
        height: 80%!important;
    }
    #register{
        width: 30%!important;
        height: 49%!important;
    }
    #register form{
        height: 80%!important;
    }
    #forgot_password{
        width: 30%!important;
        height: 35%!important;
    }
    #forgot_password form{
        height: 80%!important;
    }
}
