<router-outlet *ngIf="valid"></router-outlet>
<div *ngIf="!valid">
  <div id="front" class="container">
    <div id="logo" class="w50 h40 left">
      <img src="../assets/logo.png" alt="A kép nem elérhető!">
    </div>
    <div id="visual" class="w50 h40 right">
      <!-- <div id="login-menu" class="right">
        <img src="../assets/user_icon.png" alt="A kép nem elérhető!">
        <ul>
          <li><a href="">Bejelentkezés</a></li>
          <li><a href="">Fiók létrehozás</a></li>
        </ul>
      </div> -->
      <ul id="dyn-text">
        <li><span>Tantervek</span></li>
        <li><span>Mindig friss</span></li>
        <li><span>Tárgy infók</span></li>
        <li><span>Kommentek</span></li>
      </ul>
    </div>
  <div id="upper" class="w100 h60 right">
    <div id="temp-div1" class="w30 h100 left">
      <img id="upper_background1" src="../assets/background_thinking_girl.png" alt="Kép nem elérhető!">
    </div>
    <div id="temp-text" class="w40 h100 left">
      <p id="text1">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus voluptas repudiandae assumenda, modi quas amet eveniet earum pariatur soluta ipsam accusantium eligendi consectetur qui dignissimos possimus obcaecati quibusdam veniam. Cum ullam officia dolorum itaque quae, deleniti veritatis, reprehenderit natus obcaecati dicta aperiam illum quasi modi suscipit quo commodi laudantium minima optio voluptates. Earum corporis mollitia distinctio fugit dolorum nulla similique doloribus quaerat ad vitae nobis ducimus, illo dignissimos et voluptatum veniam nemo deserunt sequi. Laudantium, molestias vero iste distinctio nesciunt esse laborum reiciendis facilis quis dolorem veritatis expedita tenetur ea dolorum quos perspiciatis ex suscipit, ducimus nobis hic, possimus atque illo aspernatur quas! Perspiciatis a voluptatibus harum laudantium facere ut, quos, sit nostrum nesciunt quae ex, at reprehenderit! Magnam, fuga?
      </p>
      <p id="text2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione rem dolorem iusto quae, ipsam illum impedit, cum placeat natus dolores vel fugit non delectus molestias, modi sint debitis a mollitia sed maxime ea harum esse sunt quo? Reprehenderit autem veritatis obcaecati facere in voluptas beatae soluta suscipit esse quod. Dicta provident eveniet perspiciatis accusantium dignissimos culpa maiores, voluptates fuga quas.</p>
      <button (click)="showAuth = true; disableScroll()" class="btn">Ide vele!</button>
      <a href="#footer"><img src="../assets/down_arrow_white.png" alt="Go down!" width="75" height="60"></a>
    </div>
    <div id="temp-div2" class="w30 h100 right">
      <img id="upper_background2" src="../assets/background_studying_boy.png" alt="Kép nem elérhető!">
    </div>
  </div>
  <div class="container">
    <div id="lower" class="w100 h80 left">
      <a href="#front"><img src="../assets/up_arrow_black.png" alt="Go Up!" width="75" height="60"></a>
      <p>
        Statisztikák:<br>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus voluptas repudiandae assumenda, modi quas amet eveniet earum pariatur soluta ipsam accusantium eligendi consectetur qui dignissimos possimus obcaecati quibusdam veniam. Cum ullam officia dolorum itaque quae, deleniti veritatis, reprehenderit natus obcaecati dicta aperiam illum quasi modi suscipit quo commodi laudantium minima optio voluptates. Earum corporis mollitia distinctio fugit dolorum nulla similique doloribus quaerat ad vitae nobis ducimus, illo dignissimos et voluptatum veniam nemo deserunt sequi. Laudantium, molestias vero iste distinctio nesciunt esse laborum reiciendis facilis quis dolorem veritatis expedita tenetur ea dolorum quos perspiciatis ex suscipit, ducimus nobis hic, possimus atque illo aspernatur quas! Perspiciatis a voluptatibus harum laudantium facere ut, quos, sit nostrum nesciunt quae ex, at reprehenderit! Magnam, fuga?
      </p>
    </div>
    <div id="footer" class="w100 h20 left">
      <ul>
        <li>about</li>
        <li>terms of use</li>
      </ul>
    </div>
  </div>
  <div id="auth" *ngIf="showAuth">
    <span [ngSwitch]="formTemplate">
      <div id="login" *ngSwitchCase="'login'">
        <img (click)="showAuth = false; enableScroll()" src="../assets/btn_close.png" alt="(X)">
        <form action="javascript:void(0)">
          <input autocapitalize="off" autocomplete="off" [(ngModel)]="loginData.username" placeholder="Felhasználónév" type="text" name="userName" id="userName"><br>
          <input [(ngModel)]="loginData.password" placeholder="Jelszó" type="password" name="password" id="password"><br>
          <input class="btn-blue" type="submit" (click)="login()" value="Bejelentkezés">
        </form>
        <hr>
        <p>Még nincs fiókod? <a (click)="formTemplate = 'register'" href="javascript: void(0);">Hozz létre egyet</a> |</p>
        <p><a (click)="formTemplate = 'forgot_password'" href="javascript: void(0);">Elfelejtettem a jelszamat</a></p>
      </div>
      <div id="register" *ngSwitchCase="'register'">
        <img (click)="showAuth = false; enableScroll()" src="../assets/btn_close.png" alt="(X)">
        <form action="javascript:void(0)">
          <input autocapitalize="off" autocomplete="off" [(ngModel)]="registerData.username" placeholder="Felhasználónév" type="text" name="userName" id="userName"><br>
          <input autocapitalize="off" autocomplete="off" [(ngModel)]="registerData.email" placeholder="E-mail cím" type="text" name="email" id="email"><br>
          <input [(ngModel)]="registerData.password" placeholder="Jelszó" type="password" name="password" id="password"><br>
          <input class="btn-blue" type="submit" (click)="register()" value="Regisztráció">
        </form>
        <hr>
        <p>Már van fiókod? <a (click)="formTemplate = 'login'" href="javascript: void(0);">Jelentkezz be</a></p>
      </div>
      <div id="forgot_password" *ngSwitchCase="'forgot_password'">
        <img (click)="showAuth = false; enableScroll()" src="../assets/btn_close.png" alt="(X)">
        <form action="javascript:void(0)">
          <label for="userName">Felhasználó név vagy E-mail cím: </label><input type="text" name="userName" id="userName"><br>
          <input class="btn-blue" type="submit" value="Küldés">
        </form>
        <hr>
        <p><a (click)="formTemplate = 'login'" href="javascript: void(0);">Vissza a bejelentkezéshez</a></p>
      </div>
      <div *ngSwitchDefault>
        uwu
      </div>
    </span>
  </div>
</div>
