<div style="display: flex;flex-direction: row;justify-content: space-between"><h2 style="text-align: left">{{template.templateName}}</h2><p style="text-align: right"><mat-icon style="cursor: pointer" [mat-dialog-close]>close</mat-icon></p></div>
<div style="display: flex;justify-content: center;
">
  <ng-container>
  <h4></h4>
<mat-list *ngFor="let semesters of template.semester;index as i" [id]="semesters.semesterID">
  <mat-list-item>{{i+1}}. félév</mat-list-item>
  <ng-container *ngFor="let subject of semesters.subjects;index as j">

  <mat-list-item [class.pre]="highlight[i][j][0]" [class.post]="highlight[i][j][1]" [class.can]="highlight[i][j][2]" [class.has]="highlight[i][j][3]" [class.done]="highlight[i][j][4]"  class="subj" (click)="click(subject)"  (mouseenter)="highligthRelatives(subject,i)" (mouseleave)="clearHighlight()"  >{{((findIt(subject) != undefined)  ?(findIt(subject).subjectName) :(' '))}}</mat-list-item>
  </ng-container>

</mat-list>
</ng-container>
</div>
